body{
  margin: 0;
}

#root {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-grow: 1;

  padding: 0;
  margin: 0;

  width: 100%;
  min-height: 100vh;

  overflow-x: hidden;
}

.hbox{
  display:flex;
  flex-direction: row;

  margin: 0;
  width: auto;
}

#header.hbox{
  display: flex;
  flex-shrink: 0;

  flex-wrap: nowrap;
  overflow: hidden;

  width: 100%;
  height: auto;
  background-color: #2c2736;
  align-items: center;
}

#header h1, a{
  margin: 20px;
  width: 5%;
}

#header h1{
  justify-self: flex-start;
  font-size: 35px;
}
#header a{
  justify-self: flex-end;
}

#search_bar{
  justify-self: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  width: 60vw;
  flex-shrink: 0;
}

#content{
  display: flex;
  flex-wrap: wrap;

  width: 100vw;
  min-height: 100vh;
  height: auto;

  background-color: rgb(24, 24, 26);

}

#content #load{
  align-self: center;
  text-align: center;
  margin: 0 auto;
}

#content #error{
  color: red;
  font-size: small;
}

#content .visible{
  display: block;
}

.hidden{
  display: none;
}

.song-layout{
  display:flex;
  flex-direction: column;
}

#footer{
  flex-shrink: 0;
}
